/* 1. Noto Sans Variable – normal */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  /* rango de pesos */
  font-stretch: 75% 125%;
  /* rango de anchuras (wdth) */
  src: url('/assets/fonts/noto/NotoSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-display: swap;
}

/* 2. Noto Sans Variable – italic */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  src: url('/assets/fonts/noto/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-display: swap;
}

/* Montserrat Normal (variable weight 100–900) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  /* rango completo */
  src: url('/assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-display: swap;
}

/* Montserrat Italic (variable weight 100–900) */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  src: url('/assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-display: swap;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

:root {
  --primary-color: #377abe;
  --secondary-color: #204697;
  --tertiary-color: #23366c;
  --quaternary-color: #acacac;
  --quinary-color: #575555;
  --senary-color: red;
  --septenary-color: #0f172a;
  --text-danger: #dc3545;

}

html,
body {
  margin: 0;
  height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
}

main.main-general {
  flex: 1;
  margin-top: 90px;
  padding: 1rem 0;
}


/************************************* 
 ************HEADER INICIO************
 *************************************/
header.fixed-top {

  width: 100%;
  height: 90px;
  background: #fff;
  display: flex;
  align-items: center;
}

header .logo-cronecta {
  /* max-width: 250px; */
  max-width: 100%;
  height: 70px;
}

header nav {
  width: 100%;
}

/************************************* 
 ************HEADER FIN************
 *************************************/


/************************************* 
 ************FOOTER INICIO************
 *************************************/
footer {
  text-align: center;
  padding: 1rem 0;
}

footer span {

  bottom: 10px;
  text-align: center;
  color: var(--secondary-color);
  width: 100%;
}

footer span a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-weight: bold;
}

/************************************* 
 ************FOOTER FIN************
 *************************************/



/************************************* 
 ************BODY INICIO************
 *************************************/
/* LOGIN INICIO */
.login-title {

  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1
}

.text-thin {
  color: var(--primary-color);
  font-weight: 200;
  font-size: 1em;
}

.text-bold {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 2em;
}

.text-normal {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1em;
}

.text-thin-gray {
  color: var(--cuaternary-color);
  font-weight: 200;
  font-size: 1.2em;
}

form input:not(.checkbox, [type="checkbox"]),
form select {
  width: 100%;
  padding: 8px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  font-size: 1em;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.password-eye {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.btn-blue {
  width: 100%;
  padding: 5px 15px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  transition: all .3s;
}

.btn-blue:hover {
  background-color: var(--secondary-color);
}

.login-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.ilustacion-login {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* LOGIN FIN */


/* REGISTRO INICIO */
.title.title-2 {
  font-size: 25px;
}

.primary {
  color: var(--secondary-color);
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.caja_gris {
  border: 1px solid #e2e8f0;
  margin-bottom: 20px;
  color: var(--quinary-color);
}

.text-slate-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity, 1));
}


.font-medium {
  font-weight: 500;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.supplier-register-form .form-select,
.supplier-register-form .form-control {
  border-radius: 0;
  border: 1px solid var(--quaternary-color);
  color: var(--secondary-color);
  width: 100%;

}

.supplier-register-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
  font-family: Noto Sans, sans-serif;
  font-size: .9rem;
  font-weight: 500;
}

.supplier-register-form label.input-group {
  width: 100%;
}


.control-label span {
  color: var(--senary-color);

}

.avatar-upload {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 3px solid #ccc;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-white {
  --tw-text-opacity: 1;
  color: #FFF
}

.bg-slate-900 {
  --tw-bg-opacity: 1;
  background-color: var(--septenary-color)
}

.bg-slate-900:hover {
  --tw-bg-opacity: 1;
  background-color: var(--septenary-color)
}

.modal h2 {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 700;
}

.select2-selection {
  border-radius: 0 !important;
  border: 1px solid var(--quaternary-color);
  width: 100%;
  padding: .375rem .75rem;
  color: var(--secondary-color);
}

.select2-container--default {
  border-radius: 0;
  width: 100% !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  margin: 0 !important;
}

.select2-search.select2-search--inline {
  line-height: 1;
}

.select2-container--default .select2-search--inline .select2-search__field::placeholder {
  color: var(--secondary-color);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid var(--quaternary-color) !important;
}

.btn-add-supplier:disabled {
  background-color: var(--quaternary-color);
  cursor: not-allowed;
}

.btn-add-supplier {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 0;
}

.btn-secondary {
  background-color: #565e64 !important;
  text-decoration: none;
}

a {
  color: var(--quinary-color);
  text-decoration: inherit;
}

.selec-search-container .select2-selection {
  height: 37px !important;
}

.select2-selection.select2-selection--multiple {
  height: auto !important;
}

.select2-selection__placeholder,
.select2-selection__rendered {
  color: var(--secondary-color) !important;
}

.select2-selection__arrow {
  top: 5px !important;
}

.select2-selection__rendered {
  line-height: normal !important;
}

/* VERIFICACIÓN EMAIL */
.max-w-xl {
  max-width: 36rem;
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.font-bold {
  font-weight: 700;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-center {
  text-align: center;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.mt-8 {
  margin-top: 2rem;
}

.h-16 {
  height: 4rem;
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1))
    /* #22c55e */
  ;
}

.iti {
  height: 42px !important;
}

/************************************* 
 ************BODY FIN************
 *************************************/